@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Fascinate+Inline&family=Fira+Code:wght@300;400&family=Nunito:ital,wght@1,200;1,300;1,400;1,600&family=Poppins:ital,wght@1,100;1,300;1,400&family=Rubik+Moonrocks&display=swap');
body {
  background-color: whitesmoke;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  opacity: 0.75;
  overflow: hidden;
}
h1{
  text-transform: uppercase;
}
.fadev{
  background-color: lightseagreen;
  position: relative;
  top: 5px;
  right: -7px;
  border-radius: 5px;
}
.container{
  background-color: wheat;
  font-family: 'Dancing Script', cursive;
  height: 100%;
  width: 90vw;
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 3rem;
  word-break-wrap: wrap;
  -webkit-flex-wrap: wrap;
  box-shadow: 5px -5px 5px 7px red;
}
@media screen and (min-width: 768px){
  .container{
    max-width: 50vw;
  }
}
p{
  max-width: 90%;
  margin:0 auto ;
  font-size: 2rem;
}
.btn-container{
  display: flex;
  justify-content: space-around;
  font-size: 2rem;
  text-align: center;
  width: 100%;
  padding-bottom: 1.5rem;
}
button{
  font-size: 1.2rem;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  background-color: black;
  color: whitesmoke;
}
button:hover{
  background-color: whitesmoke;
  color: #222;
}
h2{
  text-decoration: underline;
}


.tweet-btn{
  border: 2px red solid;
  text-decoration: none;
  border-radius: 2rem;
  font-size: 1.5rem;
  text-align: center;
  padding: 0.2rem;
  animation: shove 2s infinite;
}
@keyframes shove {
0%{
  transform: skew(30deg);
}
  50%{
    transform: skew(0deg);
  }
  100%{
    transform: skew(30deg);
  }
}